[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jemo/Desktop/vivaldi-stable_6.9.3447.37-1_amd64.deb]
row=6
col=0

[/home/jemo/Desktop/vivaldi-stable_6.Fq49Z56J.8.3381.44-1_amd64.deb.part]
row=5
col=0

[/home/jemo/Desktop/microsoft-edge.deb]
row=3
col=0

[/home/jemo/Desktop/vivaldi-stable_6.2gxAgF7b.9.3447.37-1_amd64.deb.part]
row=2
col=1

[/home/jemo/Desktop/vivaldi-stable_6.8.3381.44-1_amd64.deb]
row=4
col=0

[/home/jemo/Desktop/jemo]
row=0
col=1

[/home/jemo/Desktop/fireship]
row=1
col=1

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/jemo]
row=2
col=0

